.ms-blog-postInlineDate {
  margin-right: $margin-md;
}

.ms-blog-postDivider {
  margin-bottom: $margin-lg;
  padding-top: $margin-sm;
  padding-botttom: $margin-sm;
  height: auto;
}

.newslist-item {
  margin-bottom: $margin-md;
  .image-area-left {
    float: none;
    img {
      width: 100%;
      height: auto;
    }
  }
}






