$brand-primary    : #0e589e;
$brand-secondary  : #3a8ddb;


$grey-90          : #333;
$grey-80          : #555454; 
$grey-50          : #8b8b8b; 
$grey-40          : #a7a6a6; 
$grey-30          : #c7c6c6; 
$grey-20          : #efefef; 


// Headings

$font-size-h1     : 36px;            
$font-size-h2     : 28px;            
$font-size-h3     : 22px;            
$font-size-h4     : 20px;            
$font-size-h5     : 18px;            
$font-size-h6     : 14px; 

$font-colour-h1     : $brand-primary;            
$font-colour-h2     : $grey-80;            
$font-colour-h3     : $brand-secondary;           
$font-colour-h4     : $grey-50;            
$font-colour-h5     : $grey-80;            
$font-colour-h6     : $font-colour-h5; 

$font-weight-h1     : 300;            
$font-weight-h2     : 500;            
$font-weight-h3     : 500;            
$font-weight-h4     : 500;            
$font-weight-h5     : 500;            
$font-weight-h6     : 700;            


$body-copy-size         : 14;
$body-copy-line-height  : 1.9rem;
$link-underline-offset  : 0.1rem; // position the link underline. This is influenced by the line height
$body-copy              : $grey-80;




$margin-xs : 10px;
$margin-sm : 15px;
$margin-md : 25px;
$margin-lg : 35px;
$margin-xl : 50px;

$margin-modifier  : 1;


//hide text off screen
$text-offset  : -9999px;