
$grey-90    : #333;
$grey-80    : #555454; 
$grey-50    : #8b8b8b; 
$grey-40    : #a7a6a6; 
$grey-30    : #c7c6c6; 
$grey-20    : #efefef; 


$base-spacing : 15px;
$margin-sm : $base-spacing;
$margin-md : 25px;
$margin-lg : 35px;
$margin-xl : 50px;

