

.ms-ref-refiner #Value, .ms-ref-unsel-toggle, #OtherValue, #SubmitValue {
    width: inherit;
}

a.ms-ref-refinername div.ms-displayInlineBlock {
    color: #0e589e;
    font-weight: bold;
}

div.ms-srch-sbLarge-fullWidth, div.ms-srch-sbLarge {
    width: inherit;
    min-width: 230px;
    margin-left: 0;
}

    div.ms-srch-sbLarge-fullWidth > input, div.ms-srch-sbLarge > input {
        margin-left: 0;
    }

div.sn-quicklaunch div.ms-srch-sbLarge-fullWidth, div.sn-quicklaunch div.ms-srch-sbLarge {
    width: inherit;
    max-width: 230px;
}

    div.sn-quicklaunch div.ms-srch-sbLarge-fullWidth > input, div.sn-quicklaunch div.ms-srch-sbLarge > input {
        width: inherit;
        max-width: 230px;
    }

table.solnet-generic-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 3px;
}



div.ms-webpartzone-cell {
    margin-bottom: 0;
}

div.no-results {
    color: #999999;
    line-height: 45px;
    font-size: 16px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}



div.col-side {
}

div.item-capability {
    margin-bottom: 32px;
}



div.item-capability img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.searchresult-people {
    float: left;
    display: inline-block;
    width: 240px;
    clear: none;
    margin-right: 24px;
    margin-bottom: 24px;
}

div.searchresult-people div.prof-panel {
    height: 79px;
    overflow: hidden;
}

div.searchresult-people div.details-panel {
    background-color: #F2F2F2;
    border-top: 1px solid #CCCCCC;
    height: 78px;
    background-image: url('/_catalogs/masterpage/grad-details.png');
    background-position: left top;
    background-repeat: repeat-x;
    overflow: hidden;
    padding: 5px 0px 5px 8px;
}


div.searchresult-people div.profilepicture-panel {
    float: left;
    cursor: pointer;
}

div.searchresult-people div.functions-panel {
    padding-top: 43px;
    margin-left: 4px;
    float: left;
}

div.searchresult-people h4 {
    font-family: 'Segoe UI';
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 6px;
}

div.searchresult-people span.details {
    font-family: 'Segoe UI';
    color: #9d9d9d;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.searchresult-people button span {
    color: #0e589e;
}

/* [Display Template] Search Result Client */
div.searchresult-client {
    padding: 0 0 0 10px;
    border-left: 10px solid #abd3f9;
    overflow: hidden;
    margin-bottom: 10px;
}

div.ms-srch-group-content div.searchresult-client {
    float: left;
    margin: 0 60px 60px 0;
    width: 375px;
}

div.searchresult-client:hover {
    border-left-color: #7BBBF7;
}




div.searchresult-client a:hover {
    text-decoration: underline;
}



div.searchresult-client table, table.details {
    vertical-align: baseline;
}

div.searchresult-client label, table.details label {
    color: #abd3f9;
    font-size: 14px;
    margin-right: 10px;
    vertical-align: baseline;
}

div.searchresult-client i {
    font-size: 14px;
    color: #abd3f9;
    margin-right: 10px;
}

div.searchresult-client span {
    color: #333333;
    overflow: hidden;
    display: inline-block;
    height: 1.4em;
    overflow: hidden;
}

div.searchresult-client div.header-container {
    height: 55px;
    overflow-y: hidden;
}

div.searchresult-client div.header-container img {
    float: right;
    max-height: 55px;
    display: block;
    max-width: 49%;
    display: block;
    overflow: hidden;
}
/*Carousel*/
.carousel img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* NEWS LIST */

div.newslist-item img {
    width: 180px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.newslist-item .img-container {
    background-color: #F2F2F2;
    width: 180px;
    height: 90px;
    overflow: hidden;
    float: left;
}

div.newslist-item {
    height: 120px;
}



div.newslist-item .descr-container {
    padding-left: 5px;
    float: left;
    width: 49%;
}


/*[DISPLAY TEMPLATE] Announcement*/
div.searchresult-announcement {
    margin-bottom: 18px;
}

div.searchresult-announcement a {
    color: #0E589E;
    line-height: 1em;
    font-weight: bold;
    height: 2em;
    display: inline-block;
    vertical-align: text-top;
}

div.searchresult-announcement small {
    color: #B2B2B2;
}

div.searchresult-announcement i {
    color: #B2B2D2;
    margin-left: 3px;
}

div.searchresult-announcement small.time {
    color: #B2B2D2;
}

/* [Display Template] Event */
ul.dfwp-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

div.sn-item-event {

    padding: 0px;
    margin: 0px 0px 10px;
}

    div.sn-item-event > time {
        display: inline-block;
        width: 100%;
        color: rgb(255, 255, 255);
        background-color: rgb(14, 88, 158);
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
    }

    ul.dfwp-list > li:nth-child(even) > .sn-event time {
        background-color: rgb(171, 211, 249);
    }

    div.sn-item-event > time > span {
        display: none;
    }

    div.sn-item-event > time > .day {
        display: block;
        font-size: 26pt;
        font-weight: 100;
        line-height: 1;
        text-align: center;
    }

    div.sn-item-event > time > .month {
        display: block;
        font-size: 18pt;
        font-weight: 900;
        line-height: 1;
    }

    div.sn-item-event img {
        width: 100%;
    }

    div.sn-item-event .info {
        padding-top: 5px;
        text-align: center;
    }

        div.sn-item-event .info > .title {
            font-size: 13pt;
            font-weight: 700;
            margin: 0px;
        }

        udiv.sn-item-event .info > .desc {
            font-size: 12pt;
            font-weight: 300;
            margin: 0px;
        }

        div.sn-item-event .info > ul,
        div.sn-item-event .social > ul {
            display: table;
            list-style: none;
            margin: 10px 0px 0px;
            padding: 0px;
            width: 100%;
            text-align: center;
        }

    div.sn-item-event .social > ul {
        margin: 0px;
    }

        div.sn-item-event .info > ul > li,
        div.sn-item-event .social > ul > li {
            display: table-cell;
            cursor: pointer;
            color: rgb(30, 30, 30);
            font-size: 11pt;
            font-weight: 300;
            padding: 3px 0px;
        }

            div.sn-item-event .info > ul > li > a {
                display: block;
                width: 100%;
                color: rgb(30, 30, 30);
                text-decoration: none;
            }

        div.sn-item-event .social > ul > li {
            padding: 0px;
        }

            div.sn-item-event  .social > ul > li > a {
                padding: 3px 0px;
            }


div.sn-item-event {
    position: relative;
    display: block;
    width: 100%;
    height: 80px;
    padding: 0px;
}

    div.sn-item-event time,
    div.sn-item-event img {
        display: inline-block;
        width: 80px;
        float: left;
    }

    div.sn-item-event .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
        position: relative;
        height: 80px;
        text-align: left;
        padding-right: 40px;
    }

    div.sn-item-event time,
    div.sn-item-event img {
        width: 80px;
        height: 80px;
        padding: 0px;
        margin: 0px;
    }


        div.sn-item-event .info > .title,
        div.sn-item-event .info > .desc {
            padding: 0px 10px;
        }

        div.sn-item-event .info > ul {
            position: absolute;
            left: 0px;
            bottom: 0px;
        }

    div.sn-item-event .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }

        div.sn-item-event .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }

            div.sn-item-event .social > ul > li {
                display: block;
                padding: 0px;
            }

                div.sn-item-event .social > ul > li > a {
                    display: block;
                    width: 40px;
                    padding: 10px 0px 9px;
                }



ul.dfwp-list > li {
    box-shadow: none;
    background: none;
}



div.sn-item-event {
    height: 120px;
    margin: 0;
}

    div.sn-item-event div.descr-event {
        padding-left: 10px;
        float: left;
        display: inline-block;
        width: 69%;
    }

    div.sn-item-event i {
        margin: 0 5px 0 2px;
        line-height: 0.9px;
        font-size: 14px;
        color: #7a7a7a;
    }

    div.sn-item-event p {
        font-size: 14px;
        line-height: 0.9em;
        color: #7a7a7a;
        margin: 0 0 0 0px;
    }

        div.sn-item-event p.time {
            margin-bottom: 5px;
        }

        div.sn-item-event p.location {
            max-height: 1.8em;
        }

    div.sn-item-event time,
    div.sn-item-event img {
        padding-top: 4px;
        font-family: "Segoe UI Black";
    }

        div.sn-item-event time > .day {
            font-size: 34pt;
      font-family: "Segoe UI Black";
        }
  
   div.sn-item-event time  span .day {
            font-size: 34pt;
    font-family: "Segoe UI Black";
        }

    div.sn-item-event time > .month {
        font-size: 14pt;
    font-family: "Segoe UI Black";
    }

 div.sn-item-event time  span .month {
        font-size: 14pt;
  font-family: "Segoe UI Black";
    }

    div.sn-item-event .info > .title,
    div.sn-item-event .info > .desc {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.1em;
        font-family: "Segoe UI";
        font-weight: normal;
    }

    ul.dfwp-list > li:nth-child(even) > div.sn-event time {
        background-color: rgb(58, 141, 219);
    }

    div.sn-item-event .info {
        position: relative;
        height: 80px;
        text-align: left;
        padding-right: 0px;
    }



div.col-right .ms-webpartzone-cell {
    margin-bottom: 0px;
}


p.text-muted {
    font-size: 10px;
    font-style: italic;
}

button.see-more {
    background-color: #0e589e;
    color: white;
    font-family: "Segoe UI Light";
}

tr.searchresult-projbid {
    background-color: #F2F2F2;
}

    tr.searchresult-projbid a {
        font-family: 'Segoe UI';
        font-size: 16px;
        vertical-align: middle;
    }

        tr.searchresult-projbid a:visited {
            color: #428bca;
        }

    tr.searchresult-projbid td {
        vertical-align: middle;
        line-height: 1em;
        overflow: hidden;
    }

    tr.searchresult-projbid div {
        height: 45px;
        width: 100%;
        border-left: 3px solid #e6e6e6;
        vertical-align: middle;
        margin-bottom: 5px;
    }

    tr.searchresult-projbid td.projbidtitle a {
        vertical-align: middle;
        margin: 0;
        padding: 0;
        line-height: 45px;
        color: #0e589e;
    }

    tr.searchresult-projbid span.sn-money {
        color: #999999;
    }

    tr.searchresult-projbid span.sn-date {
    }
/* Brickwall */
div.brickwall div.brick {
    float: left;
    width: 75px;
    height: 75px;
    font-family: 'Segoe UI';
    font-weight: bold;
    border: 1px solid #E5E5E5;
    color: #E5E5E5;
    font-size: 30px;
    margin: 0 10px 10px 0;
}

div.brickwall div.active {
    border-color: #0e589e;
    color: #0e589e;
}

div.brickwall div.brick span {
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
    width: 75px;
    display: inline-block;
}




