// carousel


.homecarousel {
  display: none;
  @media (min-width: $screen-md) {
    display: block;
    margin: $margin-md 0;
  }
  .carousel-caption {
    left: 0;
    right: 0;
  }
  img {
    width: 100%;
  }
  .carousel-control {
    width: 50px;
    height: 50px;
    border-radius: 50%;top: 50%;
    background: rgba(0,0,0,0.8);
    &:visited {
      background: rgba(0,0,0,0.8);
    }
    border: 2px solid white;
    text-indent: $text-offset;
    &:hover {
      background: rgba(0,0,0,0.95);
    }
    top: 50%;
    &.left:after, &.right:after {
      display: block;
      font-family: "FontAwesome";
      position: absolute;
      top: 7px;
      font-size: 25px;
      width: 40px;
      height: 40px;
    }
    &.left {
      left: 15px;
      &:after {
        content: "\f053";
        //counter act text indent, plus a minor adjustment
        right: $text-offset / 2 + 5;
      }
    }
    &.right {
      right: 15px;
      &:after {
        content: "\f054";
        //counter act text indent, plus a minor adjustment
        right: $text-offset / 2;
      }
    }
    &:after {
      content: "\f053";
      display: block;
      position: relative;
      top: 10px;
      font-size: 50px;
    }
  }
}