@media (max-width: $screen-sm-max) {
  // on all screens md and below, force images to be 100% width of their container. This is to try and avoid images breaking the responsive layout
  img, img[style] {
    width: 100% !important;
    height: auto !important;
  }
}

#titleAreaBox {
  margin: 0;
}

#titleAreaRow {
  margin: $margin-md 0 0 0;

  #siteIcon {
    margin: 0;
    text-align: left;
    @media (min-width: $screen-sm) {
      text-align: center;
    }
    a {
      max-width: auto;
      max-height: auto;
    }
    img {
      width: 200px;
      height: auto;
      @media (min-width: $screen-sm) {
        width: 100%;
      }
      @media (min-width: $screen-lg) {
        width: 85%;
      }
    }
  }
}





#pageTitle{
display:none;
}

.ms-siteicon-img {
  display: block;
  max-width: 260px;
  max-height: 90px;
}

.ms-siteicon-a {
  display: inline-block;
  max-width: 260px;
  max-height: 90px;
}




// Home page specific styles

form[action="/Pages/Home.aspx"] {
  #pageTitle, #pageContentTitle {
    display: none;
  }
}


// fixes


#MSO_ContentTable, #MSO_ContentTable[style], .ms-webpart-chrome[style], .ms-WPBody[style] {
  width: auto !important;
}



.ms-pub-contentLayout {
  min-width: 1px;
  display: block;
}

//menu appears squashed, setting this div to 100% appears to fix it
.ms-core-listMenu-horizontalBox {
  width: 100%;
}

// #sideNavBox, #contentBox {
//   width: auto !important;
// }


