#titleAreaBox {
  margin: 0;
}

#titleAreaRow {
  margin: $margin-md 0 0 0;

  #siteIcon {
    margin: 0;
    text-align: left;
    @media (min-width: $screen-sm) {
      text-align: center;
    }
    a {
      max-width: auto;
      max-height: auto;
    }
    img {
      width: 200px;
      height: auto;
      @media (min-width: $screen-sm) {
        width: 100%;
      }
      @media (min-width: $screen-lg) {
        width: 85%;
      }
    }
  }
}





#pageTitle{
display:none;
}

.ms-siteicon-img {
  display: block;
  max-width: 260px;
  max-height: 90px;
}

.ms-siteicon-a {
  display: inline-block;
  max-width: 260px;
  max-height: 90px;
}




// Home page specific styles

form[action="/Pages/Home.aspx"] {
  #pageTitle, #pageContentTitle {
    display: none;
  }
}


// fixes

.ms-pub-contentLayout {
  min-width: 1px;
  display: block;
}


// #sideNavBox, #contentBox {
//   width: auto !important;
// }


