#s4-workspace[style] {
  width: 100% !important;
}



#titleAreaBox {
  margin: 0;
}

#titleAreaRow {
  margin: $margin-md 0 0 0;

  #siteIcon {
    margin: 0;
    text-align: left;
    @media (min-width: $screen-sm) {
      text-align: center;
    }
    a {
      max-width: auto;
      max-height: auto;
    }
    img {
      width: 200px;
      height: auto;
      @media (min-width: $screen-sm) {
        width: 100%;
      }
      @media (min-width: $screen-lg) {
        width: 85%;
      }
    }
  }
}


.ms-pub-contentLayout {
  padding-top: 0;
}


#pageTitle{
display:none;
}

.ms-siteicon-img {
  display: block;
  max-width: 260px;
  max-height: 90px;
}

.ms-siteicon-a {
  display: inline-block;
  max-width: 260px;
  max-height: 90px;
}




// Home page specific styles

form[action="/Pages/Home.aspx"] {
  #pageTitle, #pageContentTitle {
    display: none;
  }
}


// fixes


#MSO_ContentTable, #MSO_ContentTable[style], .ms-webpart-chrome[style], .ms-WPBody[style] {
  width: auto !important;
}

// fix category images getting cropped off

#CategoryRootElement .ms-comm-sCat-imageContainer {
  width: 100%;
  float: none;
  height: auto;
  img {
    width: 200px !important;
    height: auto;
    //reset positioning
    position: static;
    display: block;
    margin: 20px auto;
  }
  @media (min-width: $screen-xs) {
    float: left;
    width: 150px;
  }
  @media (min-width: $screen-xs) {
    width: 200px;
  }
}

// over write min-widths and set to blocks
.ms-pub-contentLayout {
  min-width: 1px;
  display: block;
}

.ms-blog-MainArea, .ms-blog-postList {
  min-width: 1px;
}

//menu appears squashed, setting this div to 100% appears to fix it
.ms-core-listMenu-horizontalBox {
  width: 100%;
}

// #sideNavBox, #contentBox {
//   width: auto !important;
// }


.ms-dlgTitleBtns {
  margin-right: 0;
}

// make the editing menu sit above all other panels

.ms-ToolPaneOuter {
  position: relative;
  z-index: 1000;
}


// On main news page, hide right column on small screens
.news-default, .news-lists-posts-post, .news-lists-categories-category {
  .ms-blog-LeftColumn {
    @media (min-width: 0) and (max-width: $screen-sm-min) {
      display: none;
    }
  }
}


// hide the RHS nav panel on small screens
.ms-wiki-columnSpacing {
  @media (min-width: 0) and (max-width: $screen-sm-max) {
    display: none;
  }
}




