//homepage, floating li elements need a clearfix
.dfwp-list {
  li {
    &:before, &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}

//Our people articles

.wfa-article-area {
  
  .dfwp-item {
    margin: $margin-sm 0 $margin-md 0;
    @media (min-width: $screen-sm) {
      margin: $margin-sm 0 $margin-lg 0;
    }
  }
  .image-area-left {
    margin-right: 0;
    float: none;
    margin-bottom: $margin-sm;
    img {
      width: 250px;
      
      height: auto;
      @media (min-width: $screen-sm) {
        width: 200px;
      }
    }
    @media (min-width: $screen-sm) {
      float: left;
    }
  }
  .link-item-social {
    //stop text wrapping around image
    margin-left: 0;
    @media (min-width: $screen-sm) {
      margin-left: 230px;
    }
  }
  &.wfa-sml-icons {
    
    .image-area-left {
      @media (min-width: $screen-xs) {
        float: left;
      }
      img {
        width: 60px;
        @media (min-width: $screen-md) {
          width: 90px;
        }
      }
    }
    .link-item {
      //stop text wrapping around image
      margin-left: 0;
      @media (min-width: $screen-xs) {
        margin-left: 90px;
      }
      @media (min-width: $screen-sm) {
        margin-left: 100px;
      }
    }
  }
}