
/* Search input */

#searchInputBox {
  float: none;
}

.ms-srch-sb.ms-srch-sb-border {
  //make search container 100%
  width: 100%;
}

#titleAreaRow .ms-belltown-searcharea {
  width: auto;
  margin-top: $margin-md;
}

#titleAreaRow .ms-srch-sb > input {
    width: 78%;
    height: 40px !important;
    border: 1px solid $grey-40;
    border-radius: 10px;
    padding: 10px;
    @media (min-width: $screen-sm-min) {
      width: 300px;
    }
    @media (min-width: $screen-md) {
      width: 70%;
    }
}

#titleAreaRow  .ms-srch-sb-border, #titleAreaRow  .ms-srch-sb-borderFocused {
  border: none;
}



// reset
.ms-belltown-authenticated .ms-belltown-searcharea {
    padding-top: 0;
}