h3 {
  color: $brand-primary-dk;
  &.mainheading {
    border-bottom: 1px solid $brand-primary-dk;
    &:hover {
      border-bottom: 1px solid $brand-secondary;
    }
  }
  a {
    color: $brand-primary-dk;
    &:visited {
      color: $brand-primary-dk;
    }
    &:hover {
      color: $brand-secondary;
      text-decoration: none;
    }
  }
}

