@font-face {
  font-family: 'lobster';
  src: url('../fonts/lobster-hand.eot');
  src: url('../fonts/lobster-hand.eot?#iefix') format('eot'),
     url('../fonts/lobster-hand.woff') format('woff'),
     url('../fonts/lobster-hand.ttf') format('truetype');
     font-weight: 300;
     font-style: normal;
}

h1, h1.ms-belltown-pageName, h1.page-title {
    font-family: 'lobster', sans-serif;
    color: $brand-primary;
    font-size: $font-size-h1;
    margin: 0 0 20px 0;
    vertical-align: text-top;
    a {
      color: $brand-primary;
      &:visited {
        color: $brand-primary;
      }
    }
}

div.item-capability h2 {
    font-weight: bold;
    font-size: 26px;
}

h2, h2 a, h2 a:visited {
    font-family: 'lobster';
    font-weight: $font-weight-h2;
    font-size: $font-size-h2;
    overflow: hidden;
    margin: 0 0 5px 0;
    color: $brand-primary;
    vertical-align: top;
    text-wrap: normal;
}

h3.mainheading, h4.mainheading {
    width: 100%;
    margin-bottom: 30px;
    &[style] {
      margin-bottom: 30px !important;
    }
    //create space between components
    margin-top: 50px;
    padding: 0;
    padding-bottom: 5px;
    a:visited {
      color: inherit;
  }
}

h3.mainheading i {
    margin-right: 10px;
}


h3 {
  color: $brand-primary;
  font-size: $font-size-h3;
  font-family: 'lobster', sans-serif;
  &.mainheading {
    border-bottom: 1px solid $brand-primary;
    &:hover {
      border-bottom: 1px solid $brand-secondary;
    }
  }
  a {
    color: $brand-primary;
    &:visited {
      color: $brand-primary;
    }
    &:hover {
      color: $brand-secondary;
      text-decoration: none;
    }
  }
}

h4, h4.mainheading, div.searchresult-client h4 {
  font-size: $font-size-h4 !important;
  font-weight: $font-weight-h4 !important;
  color: $font-colour-h4 !important;
  font-family: $base-font !important;
  border: none;
}

.footer-container h4 {
  color: white !important;
  font-size: $font-size-h5 !important;
}


// render headings on homepage columns smaller and same colour
// target homepage only
form[action="/Pages/Home.aspx"] {
  // headings in lists
  li h2 a, .nav-header[style] {
    font-size: 18px !important;
    font-weight: bold !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: $brand-primary !important;
    padding-top: 0;
  }
}


/*[DISPLAY TEMPLATE] Announcement*/


div.searchresult-announcement {
    margin-bottom: $margin-md;
}

div.searchresult-announcement a {
    @extend .standard-text;

}

div.searchresult-announcement small {
    color: #B2B2B2;
}

div.searchresult-announcement i {
    color: #B2B2D2;
    margin-left: 3px;
}

div.searchresult-announcement small.time {
    color: #B2B2D2;
}



div.searchresult-client h4 {
    margin: 0;
    float: left;
    width: 49%;
    max-height: 3em;
    overflow: hidden;
    display: block;
}

div.searchresult-client p {
    color: #999999;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.1em;
    font-size: 16px;
    height: 5.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
}


div.item-capability p {
    text-align: justify;
    text-justify: inter-word;
    color: #999999;
}

div.item-capability strong {
    color: #abd3f9;
    width: 120px;
    display: inline-block;
}

// sharepoint theme over rides
 
.ms-rteThemeForeColor-5-4 { 
  color: $brand-primary;
}


// fixes for forcing headings to appear as other types

.sub-heading {
  font-size: $font-size-h5;
}

.standard-text {
  font-size: $body-copy-size;
}


.descr-event h2, .descr-event a { 
  @extend .sub-heading;
  font-family: $base-font !important;
}

.ms-blog-postList h2 a {
  font-size: $font-size-h4;
  font-family: $base-font !important;
}


